@model PediatriAsistanNöbet1.Models.Model.Nobet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nobet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asistan.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asistan.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bolum.BolumAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bolum.BolumAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NobetTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NobetTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NobetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
